.form-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 11;
  background: #c4c4c466;

  form {
    position: relative;
    background-color: #db8876;
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include mobil {
      height: 100%;
      padding-top: 10px;
    }
    header {
      padding: 0px;
      margin: 0px;
      margin-top: 80px;
      @include mobil {
        margin-top: 30px;
      }

      h1 {
        display: flex;
        flex-direction: column;
        color: black;
        font-size: 64px;
        @include mobil {
          font-size: 36px;
        }
      }
    }

    #close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 42px;
      cursor: pointer;
      @include mobil {
        top: 38px;
      }

      .fas {
        font-weight: 400;
      }
    }

    .form-input {
      display: flex;
      flex-direction: column;
      input,
      textarea {
        width: 600px;
        padding: 10px;
        font-size: 24px;
        border: none;
        border-radius: 5px;
        background-color: white;
        @include mobil {
          width: 100%;
        }
      }
      label {
        font-size: 36px;
        @include mobil {
          font-size: 24px;
          margin-bottom: 10px;
        }
      }
      .error-message {
        color: #901c1c;
      }
    }
    .form-submit-btn {
      background: #901c1c;
      color: white;
      border: none;
      padding: 15px 40px;
      align-self: flex-start;
      font-size: 18px;
      border-radius: 5px;
      @include mobil {
        align-self: center;
        padding: 10px 55px;
        margin-top: 30px;
      }
    }
  }
}
