.lightbox {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 10px;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  position: fixed;
  z-index: 1000;

  i {
    color: #901c1c;
    font-size: 27px;
    right: 48px;
    top: 8px;
    text-align: center;
    cursor: pointer;
    @include mobil {
      font-size: 18px;
      width: 25px;
      height: 25px;
    }
  }

  .close-lightbox-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    @include mobil {
      font-weight: 400;
      top: 230px;
      right: 40px;
    }
  }
  .lightbox-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    .media {
      display: flex;
      flex-direction: column;
      margin: auto;

      figure {
        height: unset;
        width: unset;
      }

      img,
      video {
        height: 85vh;
        max-width: 1050px;
        max-height: 900px;

        object-fit: cover;
        @include mobil {
          width: 289px;
          height: 248px;
        }
      }
      figcaption {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        color: $color-primary;
        font-weight: 400;
        @include mobil {
          font-size: 14px;
        }
      }
    }
  }
}
