.tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag-list .tag {
  background-color: white;
  border: 0.5px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  color: #901c1c;
  font-size: 12px;
  padding: 3px 8px;
  font-weight: 500;
  cursor: pointer;
}

.tag-list .selected {
  background-color: #901c1c;
  border-color: #901c1c;
  color: white;
}

.tag-list .tag:hover {
  background-color: #901c1c;
  border-color: #901c1c;
  color: white;
}

.user-image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background: #c4c4c4;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.menu-dropdown {
  background: #901c1c;
  border: 1px solid #901c1c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  text-align: start;
  width: 170px;
  height: 170px;
  margin-bottom: 50px;
}

.menu-dropdown li {
  border-bottom: 1px solid white;
  padding: 15px 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-dropdown li a {
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
}

.menu-dropdown li a i {
  color: white;
  position: absolute;
  margin-left: 20px;
  font-size: 18px;
}

.menu-dropdownn {
  font-size: 18px;
  background-color: #901c1c;
  color: white;
  width: 170px;
  height: 50px;
  border: 1px solid #901c1c;
  font-weight: 700;
  padding: 15px;
  border-radius: 5px;
}

.menu-dropdownn option {
  border: 1px solid white;
  font-weight: 700;
  font-size: 18px;
}

.menu-dropdownn option:hover {
  background-color: #901c1c;
}

.photographer-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
}

.photographer-thumb .user-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.photographer-thumb h2 {
  color: #d3573c;
}

.photographer-thumb .location {
  font-size: 13px;
  color: #901c1c;
}

.photographer-thumb .interest {
  font-size: 10px;
}

.photographer-thumb .price {
  font-size: 9px;
  color: #757575;
}

.photographer-thumb ul {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.photographer-page header {
  padding: 20px;
}

.profil-photographers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fafafa;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}

.profil-photographers main {
  padding: 0px 50px;
}

.profil-photographers div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profil-photographers .photographer-thumb {
  text-align: start;
  gap: 10px;
}

.profil-photographers .photographer-thumb h2 {
  font-size: 64px;
}

.profil-photographers .photographer-thumb .location {
  font-size: 24px;
}

.profil-photographers .photographer-thumb .interest,
.profil-photographers .photographer-thumb .tag {
  font-size: 18px;
}

.profil-photographers img {
  width: 200px;
  height: 200px;
  margin: 20px;
}

@media (max-width: 485px) and (min-width: 375px) {
  .profil-photographers img {
    width: 100px;
    height: 100px;
    margin-left: -120px;
  }
}

@media (max-width: 485px) and (min-width: 375px) {
  .profil-photographers {
    background: white;
    padding: 5px;
  }
  .profil-photographers .photographer-thumb h2 {
    font-size: 36px;
  }
  .profil-photographers .photographer-thumb img {
    margin-left: -75px;
    margin-top: -20px;
  }
  .profil-photographers .photographer-thumb .tag {
    font-size: 13px;
  }
}

.likes {
  color: #901c1c;
}

.likes span {
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  margin-right: 3px;
}

.likes i {
  font-size: 20px;
}

.like-price-wrapper {
  width: 100%;
  text-align: right;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  margin-top: 20px;
}

.like-price-wrapper .like-count {
  min-width: 50px;
  text-align: left;
  display: inline-block;
}

.like-price-wrapper .like-price {
  background: #db8876;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 60px;
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 485px) and (min-width: 375px) {
  .like-price-wrapper {
    display: none;
  }
}

.btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  background-color: #901c1c;
  border-radius: 5px;
  font-weight: 700;
  padding: 22px;
  font-size: 18px;
  margin-top: 30px;
  border: 1px solid #901c1c;
  cursor: pointer;
}

.btn:hover {
  background: #db8876;
  border: 1px solid #db8876;
  color: black;
}

@media (max-width: 485px) and (min-width: 375px) {
  .btn {
    position: fixed;
    z-index: 1;
    bottom: 10px;
    left: 100px;
    padding: 10px 20px;
  }
}

.media {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.media figure {
  width: 350px;
  height: 300px;
}

@media (max-width: 485px) and (min-width: 375px) {
  .media figure {
    width: 335px;
    margin-top: 10px;
  }
}

.media figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.media figure video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.media figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
}

.media figcaption h4 {
  max-width: 280px;
  text-align: left;
}

.media figcaption i {
  cursor: pointer;
}

.media figcaption p {
  max-width: 285px;
  text-align: left;
}

main {
  max-width: 1440px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
}

p {
  padding: 0px;
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

figure {
  margin: 0px;
}

section {
  width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.photographer-page header {
  display: block;
  padding: 20px 100px;
  max-width: 1240px;
  margin: auto;
}

.photographer-page header img {
  width: 200px;
  height: 50px;
}

@media (max-width: 485px) and (min-width: 375px) {
  .photographer-page header {
    padding: 20px;
  }
}

.photographer-page main {
  max-width: 1240px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.photographer-page .tag-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.photographer-page .trier-par {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 485px) and (min-width: 375px) {
  .photographer-page .trier-par {
    display: none;
  }
}

.photographer-page .photo-galeri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 23px 95px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.home-page .btn-content {
  display: none;
  position: fixed;
  left: calc(50% - 170px / 2);
}

.home-page .btn-content button {
  background: #db8876;
  font-size: 18px;
  font-weight: 700;
  height: 25px;
  padding: 0px 5px;
  border-radius: 5px;
  color: #000000;
  margin: auto;
  width: 100%;
  border: none;
  cursor: pointer;
}

@media (max-width: 485px) and (min-width: 375px) {
  .home-page .btn-content {
    display: none;
  }
}

.home-page header {
  max-width: 1440px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 20px;
}

.home-page header img {
  width: 200px;
  height: 50px;
}

.home-page header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.home-page header h1 {
  color: #901c1c;
}

@media (max-width: 485px) and (min-width: 375px) {
  .home-page header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
    padding: 10px;
  }
  .home-page header a {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .home-page header a img {
    width: 150px;
    height: 37.5px;
  }
  .home-page header h1 {
    font-size: 14px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home-page header nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 14px;
  }
  .home-page header nav ul {
    gap: 12px;
  }
}

.home-page .photographer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-page .photographer-list .article-photographers {
  text-align: center;
  margin: 50px 20px;
  width: 375px;
}

.home-page .photographer-list .article-photographers a img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home-page .photographer-list .article-photographers a h2 {
  color: #d3573c;
  margin-bottom: 0.7rem;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
}

.home-page .photographer-list .article-photographers .location {
  font-size: 13px;
  color: #901c1c;
  line-height: 16.93px;
  font-weight: 400;
}

.home-page .photographer-list .article-photographers .interest {
  font-size: 10px;
}

.home-page .photographer-list .article-photographers .price {
  font-size: 9px;
  color: #757575;
}

.home-page .photographer-list .article-photographers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .photographer-list .article-photographers ul li {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  height: 21px;
  width: 63px;
  color: #901c1c;
  font-size: 12px;
  font-weight: 500;
  list-style: none;
  margin: 0 0.1875rem;
  padding: 0.0625rem 0.375rem;
  list-style: none;
  text-align: center;
  overflow: visible;
}

.form-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  background: #c4c4c466;
  overflow: scroll;
  max-height: 100vh;
}

.form-dialog form {
  position: relative;
  background-color: #db8876;
  padding: 15px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

@media (max-width: 485px) and (min-width: 375px) {
  .form-dialog form {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }
}

.form-dialog form header {
  padding: 0px;
  margin: 0px;
  margin-top: 80px;
}

@media (max-width: 485px) and (min-width: 375px) {
  .form-dialog form header {
    margin-top: 30px;
  }
}

.form-dialog form header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  font-size: 36px;
}

@media (max-width: 485px) and (min-width: 375px) {
  .form-dialog form header h1 {
    font-size: 36px;
  }
}

.form-dialog form #close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 42px;
  cursor: pointer;
}

@media (max-width: 485px) and (min-width: 375px) {
  .form-dialog form #close-btn {
    top: 38px;
  }
}

.form-dialog form #close-btn .fas {
  font-weight: 400;
}

.form-dialog form .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-dialog form .form-input input,
.form-dialog form .form-input textarea {
  width: 600px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

@media (max-width: 485px) and (min-width: 375px) {
  .form-dialog form .form-input input,
  .form-dialog form .form-input textarea {
    width: 100%;
  }
}

.form-dialog form .form-input label {
  font-size: 24px;
}

@media (max-width: 485px) and (min-width: 375px) {
  .form-dialog form .form-input label {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.form-dialog form .form-input .error-message {
  color: #901c1c;
}

.form-dialog form .form-submit-btn {
  background: #901c1c;
  color: white;
  border: none;
  padding: 15px 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 18px;
  border-radius: 5px;
}

@media (max-width: 485px) and (min-width: 375px) {
  .form-dialog form .form-submit-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 10px 55px;
    margin-top: 30px;
  }
}

.lightbox {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: auto;
  position: fixed;
  z-index: 1000;
}

.lightbox i {
  color: #901c1c;
  font-size: 27px;
  right: 48px;
  top: 8px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 485px) and (min-width: 375px) {
  .lightbox i {
    font-size: 18px;
    width: 25px;
    height: 25px;
  }
}

.lightbox .close-lightbox-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

@media (max-width: 485px) and (min-width: 375px) {
  .lightbox .close-lightbox-icon {
    font-weight: 400;
    top: 230px;
    right: 40px;
  }
}

.lightbox .lightbox-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.lightbox .lightbox-photo .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.lightbox .lightbox-photo .media figure {
  height: unset;
  width: unset;
}

.lightbox .lightbox-photo .media img,
.lightbox .lightbox-photo .media video {
  height: 85vh;
  max-width: 1050px;
  max-height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 485px) and (min-width: 375px) {
  .lightbox .lightbox-photo .media img,
  .lightbox .lightbox-photo .media video {
    width: 289px;
    height: 248px;
  }
}

.lightbox .lightbox-photo .media figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
}

@media (max-width: 485px) and (min-width: 375px) {
  .lightbox .lightbox-photo .media figcaption {
    font-size: 14px;
  }
}

.splitter {
  border-bottom: 1px solid maroon;
  width: 100%;
  margin: 10px;
}
/*# sourceMappingURL=main.css.map */