.photographer-page {
  header {
    padding: 20px;
  }
}

.profil-photographers {
  display: flex;
  background: #fafafa;
  border-radius: 5px;
  justify-content: space-between;
  padding: 40px;

  main {
    padding: 0px 50px;
  }

  div {
    display: flex;
  }

  .photographer-thumb {
    text-align: start;
    gap: 10px;
    h2 {
      font-size: 64px;
    }
    .location {
      font-size: 24px;
    }
    .interest,
    .tag {
      font-size: 18px;
    }
  }

  img {
    width: 200px;
    height: 200px;
    margin: 20px;
    @include mobil {
      width: 100px;
      height: 100px;
      margin-left: -120px;
    }
  }
  @include mobil {
    background: white;
    padding: 5px;

    .photographer-thumb {
      h2 {
        font-size: 36px;
      }
      img {
        margin-left: -75px;
        margin-top: -20px;
      }
      .tag {
        font-size: 13px;
      }
    }
  }
}
