.tag-list {
  display: flex;
  justify-content: center;
  align-items: center;
  .tag {
    background-color: white;
    border: 0.5px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 11px;
    color: $color-primary;
    font-size: 12px;
    padding: 3px 8px;
    font-weight: 500;
    cursor: pointer;
  }
  .selected {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
  }

  .tag:hover {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
  }
}
