body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
}

p {
  padding: 0px;
  margin: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
figure {
  margin: 0px;
}
section {
  width: 100%;
}
